/* Basscss Color Base */

@media (prefers-color-scheme: light) {
  body {
    color: $dark-gray;
    background-color: white;
  }

  a {
    color: $blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  pre,
  code {
    background-color: $lighter-gray;
    border-radius: $border-radius;
  }

  hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: $border-width;
    border-bottom-color: $border-color;
  }

}

@media (prefers-color-scheme: dark) {

  a {
    color: $yellow;
    text-decoration: none;
  }

  pre,
  code {
    background-color: $dark-gray;//$lighter-gray;
    border-radius: $border-radius;
  }

  hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: $border-width;
    border-bottom-color: $border-color-dark;
  }

  body {
    color: white;
    background-color: black;
  }
}