<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ "/" | relative_url }}" class="site-title" style="height: 30px">
        <img src="/images/arthur.png" width="24px" style="border-radius: 5px; margin-top: 5px">
        {{ site.title }}
      </a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>

  <script type="text/javascript" src="https://makerbadge.s3.amazonaws.com/blmbadge.js"></script>
  <script>
  BLMBadge.init({
         layout:2, 
         theme:'dark', 
         promoText : 'See how you can help '+String.fromCodePoint(0x2192),
         promoLink : 'https://blacklivesmatters.carrd.co/#donate',
         message : 'To be silent is to be complicit. Black lives matter.',
         title : '#BlackLivesMatter'
  })
  </script>
</header>
